.theme-lime.light {
  --from: 84 81% 44%;
  --via: 84, 53%, 39%;
  --to: 84 32% 30%;
  --background: 0 0% 100%;
  --foreground: 89.3 80.4% 10%;
  --card: 0 0% 100%;
  --card-foreground: 89.3 80.4% 10%;
  --popover: 0 0% 100%;
  --popover-foreground: 89.3 80.4% 10%;
  --primary: 87.6 61.2% 20.2%;
  --primary-foreground: 78.3 92% 95.1%;
  --secondary: 79.6 89.1% 89.2%;
  --secondary-foreground: 87.6 61.2% 20.2%;
  --muted: 79.6 89.1% 89.2%;
  --muted-foreground: 83.7 80.5% 44.3%;
  --accent: 79.6 89.1% 89.2%;
  --accent-foreground: 87.6 61.2% 20.2%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 78.3 92% 95.1%;
  --border: 80.9 88.5% 79.6%;
  --input: 80.9 88.5% 79.6%;
  --ring: 89.3 80.4% 10%;
}

.theme-lime.dark {
  --from: 84 81% 44%;
  --via: 84, 53%, 39%;
  --to: 84 32% 30%;
  --background: 89.3 80.4% 10%;
  --foreground: 78.3 92% 95.1%;
  --card: 89.3 80.4% 10%;
  --card-foreground: 78.3 92% 95.1%;
  --popover: 89.3 80.4% 10%;
  --popover-foreground: 78.3 92% 95.1%;
  --primary: 78.3 92% 95.1%;
  --primary-foreground: 87.6 61.2% 20.2%;
  --secondary: 86.3 69% 22.7%;
  --secondary-foreground: 78.3 92% 95.1%;
  --muted: 86.3 69% 22.7%;
  --muted-foreground: 82.7 78% 55.5%;
  --accent: 86.3 69% 22.7%;
  --accent-foreground: 78.3 92% 95.1%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 78.3 92% 95.1%;
  --border: 86.3 69% 22.7%;
  --input: 86.3 69% 22.7%;
  --ring: 82 84.5% 67.1%;
}
